<head>
    <meta charset="UTF-8">
    <title>lab13_weather</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrat/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>